@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
section .text{
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
  }

  section{
    position: relative;
    background: #efefef;
    min-height: 100vh;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    transition: all 0.5s ease;
    z-index: 2;
  }
  @media only screen and (max-width: 1255px) {
    section{
      left: 75px;
      width: calc(100% - 75px);
    }
    
  }
  .box{
    min-height: 22rem;
    width: 22rem;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: auto;
    margin-top: 5rem;
}
.box img{
  width: 95%; 
}

.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffd8d8;
  width: 25%;
  position: relative;
  bottom: 3rem;
  border-radius: 50%;
}

  
  .btn{
    cursor: pointer;
    display:block;
    margin: 0 auto;
    width: 50%;
    padding: 0.35em 1.2em;
    border:0.1em solid #F05454;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#F05454;
    text-align:center;
    transition: all 0.2s;
    margin-bottom: 3rem;
}
.btn:hover {
    color:#EFEFEF;
    background-color:#F05454;
    
}

.btn:disabled,
.btn[disabled]{
  cursor: auto;
  border: 1px solid #999999;
  background-color: #EFEFEF ;
  color: #666666;
}
