
.cards-titles{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
.cards-titles .title{
  cursor: pointer;
  margin: 0 2rem 0 2rem;
} 
.cards-titles .title {
    margin: 0 2rem;
  }
  
  /* Underline styles */
 .cards-titles .title a {
    display: block;
    position: relative;
    padding: 0.2em 0;
    text-align: center;
  }
  
  /* Fade in */
  .cards-titles .title a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #F05454;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .cards-titles .title a:hover::after,
 .cards-titles .title a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

  .cards-titles .title .selected::after{
    opacity: 1;

  }

  .poll-dashboard{
      margin: 5rem 5rem;
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-row-gap: 5rem;
  }
  @media only screen and (max-width: 948px) {
    .poll-dashboard{
      margin: 10rem 0;
      display: block;  
    }
  
  }

  .box .content{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 2rem;

}

.content .title{
    font-size: 1rem;
    color: #2C2A3F;
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: solid 1px #dbdbdb;
}



